
@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-9">
            <blockquote class="blockquoteColors marginTop30">
                <h3>About - project</h3>
                <p>Download Item Set file based on build used in choosen game.</p>
                <ul>
                    <li>Unusual build from last game did work? - save it as Item Set!</li>
                    <li>Someone played exceptionally well? - copy her build as Item Set!</li>
                    <li>Favourite Pro trying new meta? - follow him with Item Set!</li>
                </ul>
                <img src="~/Content/Images/ArchiveOfVelKozSample.png"/>
            </blockquote>

            <blockquote class="blockquoteColors marginTop30 bottomMargin40">
                <h3>About - us</h3>
                <p>Created by Ethylparaben &amp; Vinidea - marriage of Summoners from EUNE.</p>
                <p>Made for Riot API Challenge 2.0</p>
            </blockquote>

        </div>
    </div>
</div> 